* {
  margin: 0;
}
/* Styling Header  */
.header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 175px;
  text-align: right;
}
.header-title {
  color: white;
  font-weight: 700;
  font-size: 64px;
  padding: 0px 0px 24px 393px;
}
.header-content {
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 0px 32px 554px;
}
.btn-primary {
  background-color: white;
  color: #005fac;
  padding: 20px 25px;
  border: none;
  border-radius: 4px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
}

/* Styling My failures */
.my-failures {
  margin-top: 100px;
}
.my-failures-previous-year {
  display: flex;
  gap: 70px;
  padding: 0px 200px 0px 200px;
}
.my-failures-image img {
  width: 569px;
  height: 723.3px;
  border-radius: 5px;
}
.my-failures-banner h1 {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  padding: 240px 0px 25px 20px;
}
.my-failures p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px 0px 16px 20px;
}
.my-failures-banner ol li {
  list-style: none;
  list-style-image: url("../images/tikicon.png");
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

/* Styling my plans  */

.my-plans-title {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.my-plans-objective {
  display: flex;
  gap: 98px;
  padding: 50px 0px 0px 230px;
}

.my-plans-objective-one img {
  width: 92.96px;
  height: 92.96px;
  left: 1218px;
  top: 1889px;
  padding-left: 35px;
}
.my-plans-objective-two img {
  width: 92.96px;
  height: 92.96px;
  left: 1218px;
  top: 1889px;
  padding-left: 20px;
}
.my-plans-objective-three img {
  width: 92.96px;
  height: 92.96px;
  left: 1218px;
  top: 1889px;
  padding-left: 25px;
}
.my-plans-objective-four img {
  width: 92.96px;
  height: 92.96px;
  left: 1218px;
  top: 1889px;
  padding-left: 35px;
}
.my-plans-objective h2 {
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

/* Styling my plans  */
.mindset {
  padding-left: 231px;
  padding-top: 130px;
}
.mindset-action-seciton {
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");

  background-size: cover;
  color: white;
  padding: 20px;
  height: 200px;
  width: 80%;
  left: 231px;
  top: 2222px;
  border-radius: 8px;
}
.mindset-action-seciton h3 {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 400px;
}
.mindset-btn {
  margin-left: 25px;
  margin-top: 25px;
  background-color: white;
  color: #005fac;
  padding: 15px 65px;
  border: none;
  border-radius: 4px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
}
/* New year target styling  */
.new-year-target-fullfill-method-title {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;

}
.newyear-targetmethods {
  display: flex;
  text-align: center;
  padding: 105px 266px;
  gap: 45px;
}
.new-year-target-fullfill-method-one img {
  height: 50px;
  width: 50px;
}
.new-year-target-fullfill-method-one{
  background-color: #fab1a0;
  border-radius: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.new-year-target-fullfill-method-two{
  background-color: #a29bfe;
  border-radius: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.new-year-target-fullfill-method-three{
  background-color: #74b9ff;
  border-radius: 5px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5px;
  padding-right: 5px;
}

.new-year-target-fullfill-method-two img {
  height: 50px;
  width: 50px;
}

.new-year-target-fullfill-method-three img {
  height: 50px;
  width: 50px;
}

/* Footer Styling  */
.footer {
  background: #1e1e1e;
  display: flex;
  padding-left: 230px;
  gap: 100px;
  margin-top: 100px;
  padding-top: 130px;
}
.footer-one {
  padding-right: 210px;
}
.footer-one h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
  padding-bottom: 30px;
}
.footer-one p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;

  padding-bottom: 15px;
}
.footer-one img {
  width: 47px;
  height: 46px;
}
.footer-two {
  padding-right: 230px;
}
.footer-two h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  padding-bottom: 30px;
}
.footer-two input[type="email"] {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  background: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-button {
  background-color: #005fac;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  margin-top: 20px;
  border-radius: 3px;
}
